doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/socket.io/socket.io.js')
  body
    img(style="position: absolute; bottom: 0; left: 0; border: 0; z-index: -1;", src="/images/footer.png")
    h2 #{title}
    #contain
      #users
      #incoming
      .inp
        input(type='text', id='message')
        input(type='button', value='Send', id='send')

        script
          $(document).ready(function(){

          var user = '#{username}';
          var last = user;

          //http://stackoverflow.com/questions/3381462/how-to-create-flashing-page-title-effect-like-facebook
          (function () {
          var original = document.title;
          var timeout;

          window.flashTitle = function (newMsg) {
              function step() {
                    document.title = (document.title == original) ? newMsg : original;
                    };

            clearTimeout(timeout);
            timeout = setInterval(step, 1000);
          };

          window.cancelFlashTitle = function () {
              clearTimeout(timeout);
              document.title = original;
            };
            }());

          //Test if window has focus
          var window_focus = true;
          $(window).focus(function() {
            cancelFlashTitle();
            window_focus = true;
            })
            .blur(function() {
                window_focus = false;
          });

          var rec = function(data){
            if(data['user'] != user){

            if(!window_focus)
              flashTitle(data['user'] + ": New Message ", 'c');

            if(data['user'] != last){
            $('#incoming').append('<p><b>' + data['user'] +':</b> ' + data['message'] + '</p>');
            last = data['user'];
          }
          else{
            $("#incoming p:last-child").append('<br>' + data['message']);
          }
            $("#incoming").scrollTop($("#incoming")[0].scrollHeight);
            }
          };

          $('#send').attr('disabled','disabled');

          $('#message').keyup(function(){
            $('#send').attr('disabled','disabled');
            var validated = true;
            if($('#message').val().length === 0) validated = false;
 
            if(validated) $("#send").removeAttr("disabled");                             
          });

          var socket = io.connect(window.location.hostname);

          socket.on('status', function (data) {
          if(data['connected'] == 'true'){
            console.log('Connected to server');
            socket.emit('setClient',{'user':user});
          }
          });

          socket.on('recieve', function(data){
            rec(data);
          });

          socket.on('count', function(data){
          $('#users').html('<h6> Number of users: ' + data + '</h6>');
          });

          $('#message').keypress(function(e){
          if(e.which == 13)
          $('#send').click();
          });

          $('#send').click(function(){
          if($('#message').val() != ''){
            socket.emit('message',{'user': user, 'message': $('#message').val()});
            rec({'user':'You','message': $('#message').val()});
            $('#message').val('');
            $('#message').focus();
            $('#send').attr('disabled','disabled');
          }
          });

          });