doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/socket.io/socket.io.js')
  body
    h2 #{title}
    #contain
      #incoming
      .inp
        input(type='text', id='message')
        input(type='button', value='Send', id='send')
        script
          var socket = io.connect('http://localhost');
          socket.on('news', function (data) {
          console.log(data);
          socket.emit('baka', { my: 'data' });
          });