doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/socket.io/socket.io.js')
  body
    h2 #{title}
    #contain
      #users
      #incoming
      .inp
        input(type='text', id='message')
        input(type='button', value='Send', id='send')

        script
          $(document).ready(function(){

          var user = '#{username}';
          $('#send').attr('disabled','disabled');

          $('#message').keyup(function(){
            $('#send').attr('disabled','disabled');
            var validated = true;
            if($('#message').val().length === 0) validated = false;
 
            if(validated) $("#send").removeAttr("disabled");                             
          });

          var socket = io.connect(window.location.hostname);

          socket.on('status', function (data) {
          if(data['connected'] == 'true'){
          console.log('Connected to server');
          }
          });

          socket.on('recieve', function(data){
          $('#incoming').append('<p><b>' + data['user'] +':</b> ' + data['message'] + '</p>');
          $("#incoming").scrollTop($("#incoming")[0].scrollHeight);
          });

          socket.on('count', function(data){
          $('#users').html('<h6> Number of users: ' + data + '</h6>');
          });

          $('#message').keypress(function(e){
          if(e.which == 13)
          $('#send').click();
          });

          $('#send').click(function(){
          if($('#message').val() != ''){
            socket.emit('message',{'user': user, 'message': $('#message').val()});
            $('#incoming').append('<p><b>You:</b> ' + $('#message').val() + '</p>');
            $("#incoming").scrollTop($("#incoming")[0].scrollHeight);
            $('#message').val('');
            $('#message').focus();
            $('#send').attr('disabled','disabled');
          }
          });

          });