doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  body
    a(href="https://github.com/douglas-vaz/node-express-socket")
      img(style="position: absolute; top: 0; left: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png", alt="Fork me on GitHub")
    div(class='content')
      h1= title
      p Welcome to #{title} chat
      form(action='/chat', method='POST', id="login")
        p Enter Username
        input(type='text', name='username')
        input(type='submit', id='user_submit', value='Enter')
      if (typeof(invalid) !== 'undefined')
        div(class='error')
          p Username in use
      script
       $(document).ready(function(){
          $('input[type="submit"]').attr('disabled','disabled');

          var validate = function(){
            var validated = true;
              if($('input[type="text"]').val().length === 0) validated = false;
              return validated;
          };

          $('input[type="text"]').keyup(function(){
              $('input[type="submit"]').attr('disabled','disabled');
              if(validate()) $('input[type="submit"]').removeAttr("disabled");
            });

          $('input[type="text"]').keypress(function (e) {
          if (e.which == 13) {
            if(!validate()){
              e.preventDefault();
              return false;
            }
          }
          });
        });