body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

a {
  color: #00B7FF;
}

#incoming {
	overflow-y: scroll;
	height: 200px;
	width: 550px;
	border:1px solid gray;
}

#contain{
	padding:10px;
	margin: 10px;
	border: 1px solid;
	background-color: white;
}

#message{
	width: 300px;
}

.content{
	padding: 15px;
}

.error{
	p{
		color: red;
	}
}